:root {
  --blue-color: #2196F3;
  --bg-dark: #2F303A;
  --bg-grayish: #F5F4FA;
  --black-color: #212121;
  --gray-color: #757575;
  --border-color: #ECECEC;
}

* {
  /* margin: 0; */
  /* box-sizing: border-box; */
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  color: var(--black-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header-logo {
  font-size: 26px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.logo-blue {
  color: var(--blue-color);
}

.logo-black {
  color: black;
}

.header-nav {
  width: 100%;
  margin-left: 95px;
}

.header-nav-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
}

.header-nav-item {
  margin: 0 25px;
}

.header-nav-item:first-child {
  margin-left: 0;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-link {
  text-decoration: none;
  color: var(--black-color);
  fill: var(--gray-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}

.header-contact {
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.header-contact {
  margin-right: 25px;
}

.header-contact:last-child {
  margin-left: 25px;
  margin-right: 0;
}

.active {
  color: var(--blue-color);
}

.header-container {
  border-bottom: 1px solid var(--border-color);
  padding-left: 15px;
  padding-right: 15px;
}

.header-container-flex {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.envelope-icon {
  width: 16px;
  height: 13px;
  margin-right: 10px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* Section 1 - Hero */
.hero-container {
  background-color: var(--bg-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.hero-title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  color: white;
  background-color: var(--blue-color);
  border: none;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 30px;
}

/* Section 2 / 3 - About */
.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin-top: 10px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  /* padding-top: 95px; */
}

.about-list {
  display: flex;
  /* padding-left: 15px;
  padding-right: 15px; */
  /* padding-top: 95px; */
}

.about-item {
  list-style: none;
  flex-basis: 270px;
  margin: 0 15px;
}

.about-item:first-child {
  margin-left: 0;
}

.about-item:last-child {
  margin-right: 0;
}

.about-img {
  display: flex;
  padding-bottom: 95px;
}

.about-img-title {
  list-style: none;
  margin: 0 15px;
}

.about-img-title:first-child {
  margin-left: 0;
}

.about-img-title:last-child {
  margin-right: 0;
}

.about-container {
  /* max-width: 1200px;
  width: 100%;
  margin: auto; */
  padding-top: 95px;
}

.feature-icon-bg {
  background-color: var(--bg-grayish);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-icon {
  width: 70px;
  height: 70px;
}
/* Section 4 - Team */
.team-container {
  background-color: var(--bg-grayish);
  padding-bottom: 95px;
  padding-top: 95px;
}

.team-name-role {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin: 0 0 16px 0;
}

.team-group {
  display: flex;
  /* justify-content: space-between; */
}

.team-group-list {
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-group-list:first-child {
  margin-left: 0;
}

.team-group-list:last-child {
  margin-right: 0;
}

.sm-list {
  display: flex;
  justify-content: center;
}

.sm-item {
  /* height: 44px;
  width: 44px; */
  list-style: none;
  /* border-radius: 50%; */
}

.sm-link:hover,
.sm-link:focus{
  background-color: var(--blue-color);
}

.sm-link:hover .sm-icon {
  fill: white;
}

.sm-link:focus .sm-icon {
  fill: white;
}

.sm-item + .sm-item {
  margin-left: 10px;
}

.sm-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
  height: 100%; */
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.sm-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* Clients */

.company-list {
  display: flex;
  justify-content: center;
}

.company-item {
  list-style: none;
}

.company-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.company-link:hover,
.company-link:focus{
  border-color: var(--blue-color);
}

.company-link:hover .company-icon {
  fill: var(--blue-color);
}

.company-link:focus .company-icon {
  fill: var(--blue-color);
}

.company-item + .company-item {
  margin-left: 30px;
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.company-container {
  padding-top: 95px;
  padding-bottom: 95px;
}

/* Portfolio */
.portfolio-btn {
  color: var(--black-color);
  background-color: var(--bg-grayish);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 20px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* margin: 0 0 5px 0; */
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 95px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
}

.portfolio-img {
  display: flex;
  flex-direction: column;
  width: 370px;
  border: 1px solid #EEEEEE;
  margin: 0 15px 30px;
}

.portfolio-img:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.portfolio-img:nth-child(3n - 2) {
  margin-left: 0;
}

.portfolio-img:nth-child(3n) {
  margin-right: 0;
}

.portfolio-img:nth-last-child(1),
.portfolio-img:nth-last-child(2),
.portfolio-img:nth-last-child(3) {
  margin-bottom: 0;
}

.portfolio-img-info {
  padding: 20px 24px 20px 24px;
}

/* Footer */
.footer {
  background-color: var(--bg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  /* flex-direction: column; */
}

.logo-white {
  color: white;
}

.footer-city {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.footer-sm-list {
  display: flex;
  justify-content: center;
}

.footer-sm-item {
  list-style: none;
}

.footer-sm-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-sm-link:hover,
.footer-sm-link:focus{
  background-color: var(--blue-color);
}

.footer-sm-link:hover .footer-sm-icon{
  fill: white;
}

.footer-sm-link:focus .footer-sm-icon{
  fill: white;
}

.footer-sm-item + .footer-sm-item {
  margin-left: 10px;
}

.footer-sm-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer-sm-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-info {
  margin-right: 70px;
}